/ElDuroGym/target/
/elDuroGym/nbproject/private/
/elDuroGym/build/
/out/
/.idea/
/ElDuroGym.iml
/elDuroGym/dist/
*/project.properties
baseDatos.properties
/elDuroGym/nbproject/
/elDuroGym/dependencias/postgresql-42.7.3.jar
